<div class="main-content">
  <div class="container top-level-container">
    <div class="row">
      <div class="col-lg-8 main-column">
        <div class="container">
          <div class="row main-row">
            <div class="main-header">Chores</div>
          </div>
          <% @chores.each do |chore| %>
            <div class="row">
              <div class="col-sm column-box">
                <%= chore_box(chore) %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-sm">
              <%= more_link(chores_path, "Chores") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 main-column">
        <div class="container">
          <div class="row main-row">
            <div class="main-header">Categories</div>
          </div>
          <% @categories.each do |cat| %>
            <div class="row">
              <div class="col-sm column-box">
                <%= category_box(cat) %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-sm">
              <%= more_link(category_index_path, "Categories") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>