<h1>Chore Schedule</h1>

<br />
<p>This is a simple application to track household chores, when they were last completed and when they're due next.</p>
<p>
  For a look under to hood, checkout out <a href="https://github.com/truggeri/chore-schedule" target="_blank">our GitHub page</a>.
</p>