<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 main-column">
        <div class="container">
          <div class="row main-row">
            <div class="main-header">Chore Schedule</div>
          </div>
          <div class="row">
            <div class="col">
              <p>This is a simple application to track household chores, when they were last completed and when they're due next. For a look under to hood, checkout out <a href="https://github.com/truggeri/chore-schedule" target="_blank" rel="noopener">our GitHub page</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
