<% provide(:title, "Categories") %>

<div class="row row-padded">
  <div class="col">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createCategoryModal">
      <%= fa_icon("plus-circle") %> Create
    </button>
  </div>
</div>
<%= category_summary(@categories) %>

<%= render(partial: "shared/generic_modal", locals: { action: "create", model: "category" }) %>
<%= render("remove_confirm_modal") %>