<h1>Categories</h1>

<% if @categories.present? %>
  <table class="table">
    <thead class="" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category_color_badge(category) %><%= link_to(category.name, category_path(category)) %></td>
        <td><button type="button" class="btn delete-button" data-toggle="modal" data-target="#removeConfirmModal"
                    onclick="adjust_delete_path('<%= category_path(category) %>', '<%= category.name %>')">
          <i class="fa fa-trash"></i>
        </button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>