<% provide(:title, "Categories") %>

<div class="flex row-padded">
  <div class="full">
    <label for="create-category-modal" class="button" data-disable="true">
      <%= fa_icon("plus-circle") %> Create
    </label>
  </div>
</div>
<%= category_summary(@categories) %>

<%= render("shared/generic_modal", action: "create", model: "category") %>
<%= render("shared/remove_confirm_modal", model: "category") %>