<% provide(:title, "Users") %>

<div class="flex">
<% @users.each do |user| %>
  <div class="full half-600 chore-box">
    <h4><%= fa_icon("user") %> <%= link_to(user.name, user_path(user)) %></h4>
  </div>
<% end %>
</div>
