// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-box {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  padding: 12px;

  .category-count {
    flex: 1 1 auto;
    font-size: 14px;
    text-align: right;
  }

  h5.category-header {
    flex: 0 1 auto;
    margin: 0px
  }
}

.create-chore-button {
  text-align: right;
}

@include media-breakpoint-down(xs) {
  .create-chore-button {
    text-align: center;

    button {
      width: 100%;
    }
  }
}