// Place all the styles related to the Chore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chore-border-light {
  border-top: 1px solid #bbb;
}

.chore-border-ultralight {
  border-top: 1px solid #eee;
}

.chore-box {
  border-bottom: 1px solid #ddd;
  padding: 12px 8px 12px 8px;

  .bottom-row {
    color: #555;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-style: italic;
  }

  .days-until-due {
    flex: 1 1 auto;
    text-align: right;
  }

  h4 {
    flex: 0 1 auto;
  }

  .last-done {
    flex: 1 1 auto;
  }

  .top-row {
    display: flex;
    flex-direction: row;
  }
}

.chore-note {
  font-size: 24px;
}

.chore-padding-16 {
  padding: 16px;
}

.chore-padding-8 {
  padding: 8px;
}
