// Crisp & Dramatic
$color-thunder-cloud:       #505160;
$color-thunder-cloud-light: #F5F6FB;
$color-thunder-cloud-dark:  #404150;
$color-waterfall:           #68829E;
//$color-moss:                #AEBD38;
//$color-meadow:              #598234;

// Gradient off Thunder Cloud
// https://mycolor.space/?hex=%23505160&sub=1
$color-purple:              #826684;
$color-rose:                #C37990;
$color-blush:               #F79484;
$color-tangerine:           #FFC06F;
$color-lemon:               #F9F871;

// Gray
//$color-gray-bg:            #F0F0F0;
//$color-gray-button-bg:     #EEEEEE;
//$color-gray-button-border: #333333;
//$color-gray-header:        #505160;
//$color-gray-header-border: #656673;
//$color-gray-bg-light:      #FFFFFF;
//$color-gray-link:          #68829E;
//$color-gray-nav-header:    #505160;
//$color-gray-nav-primary:   #CCCCCC;

// Bootstrap overrides
$danger:                   $color-blush;
$primary:                  $color-rose;
$secondary:                $color-thunder-cloud;
$success:                  $color-purple;

// Final output
$background-color:         #FFFEF6;
$background-color-dark:    #E9E9E0;
$background-color-light:   #FCFAF2;
$body-text-color:          $color-thunder-cloud;
$header-color:             $color-purple;
$header-border-color:      $color-purple;
$light-bg-color:           #fdfdfd;
$link-color:               $color-thunder-cloud;
$link-color-hover:         $color-rose;
$nav-bg-color:             $color-waterfall;
$nav-bg-color-light:       #9fBbD6;
$nav-header-color:         $color-thunder-cloud-light;
$nav-link-color:           $color-thunder-cloud-light;
$nav-link-color-hover:     $color-lemon;
