@import "colors.scss";

.body-container {
  margin-top: 72px;
}

.container {
  max-width: 1140px;
}

footer {
  border-top: 1px solid #dcdcdc;
  margin-top: 24px;
  padding-top: 8px;

  p {
    color: $body-text-color;
    display: flex;
    font-size: 13px;
    justify-content: center; 
  }
}

.full_btn {
  width: 100%;
}

.main-body {
  margin-left: 16px;
  margin-right: 16px;
}

.main-column {
  background-color: $light-bg-color;
  border-top: 5px double $header-border-color;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 3px 8px #bbb;
  padding: 16px;
  margin: 24px 8px 8px 8px;

  @media (max-width: 600px) {
    margin-top: 64px;
  }
}

.main-content {
  padding: 8px;
  width: 100%;
}

.main-header {
  background-color: $light-bg-color;
  border: 2px solid $header-border-color;
  border-radius: 8px;
  color: $header-color;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  min-height: 38px;
  max-width: 360px;
  line-height: 28px;
  padding: 4px 24px 4px 24px;
  position: relative;
  text-align: center;
  top: -28px;
}

// @include media-breakpoint-up(sm) {
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-header {
    font-size: 28px;
  }
}

.main-row {
  height: 16px;
}

.modal-content {
  padding: 16px;
}

.row-padded {
  padding-bottom: 16px;
}

.top-level-container {
  max-width: 100%;
}