@import "colors.scss";

nav.navbar {
  background-color: $nav-bg-color;
  border-bottom: 1px solid rgb(222, 226, 230);
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, .15);
  background-image: linear-gradient(175deg, $nav-bg-color, 70%, $nav-bg-color-light);
  margin-bottom: 24px;
  padding-left: 64px;
  padding-right: 64px;
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;

  a.navbar-brand {
    color: $nav-link-color;
    font-family: 'Permanent Marker', cursive;
    font-size: 14px;
    padding: 16px;
  }

  // @include media-breakpoint-up(sm) {
  @media (min-width: 576px) and (max-width: 767.98px) {
    a.navbar-brand {
      font-size: 24px;
    }
  }

  a.navbar-brand:hover {
    color: $nav-link-color-hover;
  }

  a.nav-link {
    color: $nav-link-color!important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
  }

  a.nav-link:hover {
    color: $nav-link-color-hover!important;
  }
}

.navbar-family-name {
  color: $background-color-dark;
  display: block;
  padding-right: 16px;
}

// @include media-breakpoint-up(sm) {
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-family-name {
    display: inline;
  }
}

.navbar-user {
  a {
    color: $nav-link-color;
  }
  a:hover {
    color: $nav-link-color-hover;
    text-decoration: none;
  }

  li.nav-item {
    padding: 8px 0 8px 0;
  }
}

.navbar-user-name {
  color: $background-color-dark;
  padding-right: 16px;
}

nav .burger ~ .menu {
  @media (max-width: 60em) {
    background: $color-waterfall;
  }
}