<!-- Edit Chore Modal -->
<div class="modal fade" id="editChoreModal" tabindex="-1" role="dialog"
     aria-labelledby="editChoreModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editChoreModal">Edit a Chore</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render(partial: "form", locals: { given_action: "update", show_buttons: false }) %>
      </div>
      <div class="modal-footer row">
        <div class="col">
          <button type="button" value="Edit" class="btn btn-success" onclick="chore_edit_submit(<%= @chore.id %>);">
            <%= fa_icon("edit", "fas") %> Edit
        </button>
        </div>
        <div class="col text-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>