<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 main-column">
        <div class="container">
          <div class="row main-row">
            <div class="main-header"><%= @chore.description %></div>
          </div>
          <div class="row">
            <div class="col text-left">
              <%= link_to(safe_join([fa_icon("arrow-circle-left"), " Chore Details"]), chore_path(@chore)) %>
            </div>
          </div>
          <div class="row"><div class="col">&nbsp;</div></div>
          <div class="row">
            <div class="col-1">&nbsp;</div>
            <div class="col">
              <%= render(partial: "form", locals: { given_action: "update", show_buttons: true }) %>
            </div>
            <div class="col-1">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>