<h1>Chores</h1>
<br />

<% if @chores.present? && @chores.size.positive? %>
  <table class="table table-hover thead-light">
    <thead class="thead-light" >
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Frequency</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @chores.each do |chore| %>
      <tr>
        <td><%= link_to(chore.description, chore_path(chore)) %></td>
        <td><%= link_to([chore.frequency, chore.frequency_type].join(" "), chore_path(chore)) %></td>
        <td><%= link_to(content_tag(:i, "", class: "fa fa-trash text-danger"), chore_path(chore), method: :delete) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>