<footer>
  <p class="text-center">
    Made for fun in the USA |
    <a href="https://github.com/truggeri/chore-schedule" target="_blank" rel="noopener" aria-label="Github repo">
      <%= fa_icon("github", "fab") %>
    </a>
  </p>
</footer>