<footer>
  <p class="text-center">
    Made for fun in the USA |
    <a href="https://github.com/truggeri/chore-schedule" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </p>
</footer>